body{
    
}

/*/navigation bar */
.navbar-brand {
    font-family: 'Roboto Bold', 'Roboto Regular', 'Roboto';
    color: grey;
    font-size: 30px;
    margin: 0px;
    font-weight: 700;
    left: 60px;
    top: 23px;
    width: 120px;
    height : 47px;
}


.navbar-light .navbar-brand {
    color:#fff;
}

#search_Bar {
    border-width: 0px;
    position: absolute;
    left: 1161px;
    top: 21px;
    width: 23px;
    height: 23px;
    display: flex;
    font-size: 23px;
    color: #FFFFFF;
    text-align: left;
}

#three_Dots {
    border-width: 0px;
    position: absolute;
    left: 1219px;
    top: 21px;
    width: 23px;
    height: 23px;
    display: flex;
    font-size: 23px;
    color: #FFFFFF;
    text-align: left;
}

.navbar-text{
    display: flex;
    justify-content: space-evenly;
   
}

/*container for three boxes*/

.container-fluid {
    border-width: 0px;
    position: absolute;
    left: 92px;
    top: 99px;
    height: 700px;
    display: flex;

}


.offset {

    width: 135px;
}

.col-lg-60 {
    width: 357px;
    height: 685px;
     
}

.col-sm-30{
    width: 265px;
    height: 400px;
}

.col-md {
    width: 324px;
    height: 685px;
}





/*everything from the 1rst box*/

#box1_Titre {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: -228px;
    margin-top: -12px;
 
}

#box1_Election1 {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    margin-left: 40px;
    margin-top: 40px;
    line-height:5px;
}

#box1_Election2 {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    margin-left: 40px;
    margin-top: 45px;
    line-height: 5px;
}

#box1_Election3 {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    margin-left: 40px;
    margin-top: 45px;
    line-height: 5px;
}

#box1_Election4 {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    margin-left: 40px;
    margin-top: 45px;
    line-height: 5px;
}

/*BUTTONS IN THE FIRST BOX*/

#u10 {
    border-width: 0px;
    position: absolute;
    left: 10px;
    top: 70px;
    width: 37px;
    height: 34px;
    display: flex;

}
#u13 {
    border-width: 0px;
    position: absolute;
    left: 10px;
    top: 140px;
    width: 37px;
    height: 50px;
    display: flex;
    
}
#u16 {
    border-width: 0px;
    position: absolute;
    left: 10px;
    top: 210px;
    width: 37px;
    height: 34px;
    display: flex;
}
#u19 {
    border-width: 0px;
    position: absolute;
    left: 10px;
    top: 280px;
    width: 37px;
    height: 34px;
    display: flex;
}

/*FIRST BUTTON WITH DARKER CENTER IN FIRST BOX*/

.radio_button {
    text-align: left;
}


/*SECOND BOX PARTIS POLITICOS*/

#box2_Partis {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: -73px;
    margin-top: -10px;
}

#box2_Parti1 {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    margin-left: 72px;
    margin-top: 29px;
    line-height: 5px;
}

#box2_Parti2 {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    margin-left: 72px;
    margin-top: 41px;
    line-height: 5px;
}

#box2_Parti3 {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    margin-left: 72px;
    margin-top: 40px;
    line-height: 5px;
}

#box2_Parti4 {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    margin-left: 72px;
    margin-top: 40px;
    line-height: 5px;
}

#box2_Parti5 {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    margin-left: 72px;
    margin-top: 40px;
    line-height: 5px;
}

#box2_Parti6 {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    margin-left: 72px;
    margin-top: 40px;
    line-height: 5px;
}

#u50 {
    border-width: 0px;
    position: absolute;
   
    width: 22px;
    height: 34px;
    display: flex;
    font-size: 17px;

    margin-left: -89px;
    margin-top: -100px;
}

#u53 {
    border-width: 0px;
    position: absolute;
    
    width: 22px;
    height: 34px;
    display: flex;
    font-size: 17px;

    margin-left: -89px;
    margin-top: -100px;
}

#u56 {
    border-width: 0px;
    position: absolute;
   
    width: 22px;
    height: 34px;
    display: flex;
    font-size: 17px;

    margin-left: -89px;
    margin-top: -100px;
}

#u59 {
    border-width: 0px;
    position: absolute;

    width: 22px;
    height: 34px;
    display: flex;
    font-size: 17px;

    margin-left: -89px;
    margin-top: -100px;
}

#u62 {
    border-width: 0px;
    position: absolute;

    width: 22px;
    height: 34px;
    display: flex;
    font-size: 17px;

    margin-left: -89px;
    margin-top: -100px;
}

#u65 {
    border-width: 0px;
    position: absolute;

    width: 22px;
    height: 34px;
    display: flex;
    font-size: 17px;

    margin-left: -89px;
    margin-top: -100px;
}

/*third box actions*/

#box3_Actions {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: -180px;
    margin-top: -10px;
}

.form-control {
    font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';
    font-weight: 510;
    font-style: normal;
    font-size: 14px;
    color: rgb(127, 127, 127);
    background-color: rgb(215, 215, 215);
    text-align: center;
    letter-spacing: normal;
    line-height: normal;
    text-rendering: optimizelegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
    
}

.connaitre {
    margin-left: 0px;
    margin-top: 160px;
}
.comparer {
    margin-left: 0px;
    margin-top: 160px;
}


/*BACKGROUND COLOR OF WEBSITE*/

body {
    margin: 0px;
    background-color: rgba(242, 242, 242, 1);
    background-image: none;
    position: relative;
    left: 0px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

