/*BACKGROUND COLOR OF WEBSITE*/

body {
    margin: 0px;
    background-color: rgba(242, 242, 242, 1);
    background-image: none;
    position: relative;
    left: 0px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


/*/navigation bar */
.navbar-brand {
    font-family: 'Roboto Bold', 'Roboto Regular', 'Roboto';
    color: #FFFFFF;
    font-size: 30px;
    margin: 0px;
    font-weight: 700;
    left: 6.1px;
    top: 3.2px;
    width: 120px;
    height : 48px;
    position: relative;
    cursor: pointer;
    
}


.navbar-light .navbar-brand {
    color:#fff;
}

#title{
    color: #FFFFFF;
}
#search_Bar {
    border-width: 0px;
    position: absolute;
    left: 1161px;
    top: 21px;
    width: 23px;
    height: 23px;
    display: flex;
    font-size: 23px;
    color: #FFFFFF;
    text-align: left;
}

#three_Dots {
    border-width: 0px;
    position: absolute;
    left: 1219px;
    top: 21px;
    width: 23px;
    height: 23px;
    display: flex;
    font-size: 23px;
    color: #FFFFFF;
    text-align: left;
}

.navbar-text{
    display: flex;
    justify-content: space-evenly;
   
}

/*container for four boxes*/

.container-fluid {
    border-width: 0px;
    position: absolute;
    left: 92px;
    top: 99px;
    height: 700px;
    display: flex;

}

.offset {

    width: 60px;
}

/* First Box */

#firstBox{
    border-width: 0px;
    left: -15px;
    top: 0px;
    width: 356px;
    height: 700px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.219607843137255);
    background-color: rgba(255, 255, 255, 1);
    position: relative;
}
#box1_Titre {
    font-family:Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    position: relative;
    top:10px;
    
 
}

#box1_0_nom {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin-left: 64px;
    margin-top: 41px;
    line-height:5px;
    position: relative;
    left: 12px;
    top: 3px;
}


#box1_1_nom {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    margin-left: 64px;
    margin-top: 41px;
    line-height: 5px;
    position: relative;
    left: 12px;
    top: 3px;
}

#box1_2_nom {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    margin-left: 64px;
    margin-top: 45px;
    line-height: 5px;
    position: relative;
    left: 12px;
    top: 3px;
}

#box1_3_nom {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 20px;
    margin-left: 64px;
    margin-top: 45px;
    line-height: 5px;
    position: relative;
    left: 12px;
    top: 3px;
}

#box1_0_date,#box1_1_date,#box1_2_date,#box1_3_date {
   font-size: 14px;
   color: rgba(0, 0, 0, 0.537254901960784);
   font-family: 'Roboto';
   font-weight: 400;
   font-style: normal;
   text-align: left;
   margin-left:64px;
   line-height: 2.5;
   position: relative;
   left:12px;
   top:3px;
   margin-bottom: -17px;

}



#firstRadio {
    border-width: 0px;
    position: absolute;
    left: 40px;
    top: 64px;
    display: flex;
   
}

#secondRadio {
    border-width: 0px;
    position: absolute;
    left: 40px;
    top: 131px;
    display: flex;
   
}

#thirdRadio {
    border-width: 0px;
    position: absolute;
    left: 40px;
    top: 200px;
    display: flex;
   
}

#fourthRadio {
    border-width: 0px;
    position: absolute;
    left: 40px;
    top: 270px;
    display: flex;
   
}
/*Second Box*/ /******/ /*Third Box*/
#federaux{
    border-width: 0px;
    left: 9px;
    top: 11px;
    width: 360px;
    height: 700px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.219607843137255);
    background-color: rgba(255, 255, 255, 1);
    position: relative;
}

#provinciaux{
    border-width: 0px;
    left: -25px;
    top: 11px;
    width: 360px;
    height: 700px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.219607843137255);
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    
}

#box2_Titre {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: -73px;
    margin-top: -10px;
    position: relative;
    top: 10px;
    left: 5px;
}

#box3_Titre{
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: -73px;
    margin-top: -10px;
    position: relative;
    top: 10px;
    left: 11.5px;
}

#fed0,#fed1,#fed2,#fed3,#fed4,#fed5{
    margin-right: 60px;
    margin-left: -210px;
    margin-bottom: -20px;
    position: relative;
    top:25px;
}

#prov0, #prov1,#prov2,#prov3,#prov4,#prov5,#prov6{
    margin-right: 60px;
    margin-left: -209px;
    margin-bottom: -20px;
    position: relative;
    top:25px;
}

#box2_0_abv,#box2_1_abv,#box2_2_abv, #box2_3_abv, #box2_4_abv, #box2_5_abv,
#box3_0_abv,#box3_1_abv,#box3_2_abv, #box3_3_abv, #box3_4_abv, #box3_5_abv,#box3_6_abv {
    margin-right: 0px;
    margin-left: 87px;
    
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    
}

#box2_0_fn,#box2_1_fn,#box2_2_fn,#box2_3_fn,#box2_4_fn,#box2_5_fn,
#box3_0_fn,#box3_1_fn,#box3_2_fn,#box3_3_fn,#box3_4_fn,#box3_5_fn,#box3_6_fn{

    margin-right: 0px;
    margin-left: 87px;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.537254901960784);
    font-size: 14px;
}
/*fourth box */
#fourthBox{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 249px;
    height: 212px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.219607843137255);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 2px;
    margin-left: 15px;
    margin-top: 3px;
}
#box4_Titre {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    margin-left: 14px;
    margin-top: 8px;
}


.button{

    color: #7F7F7F;    
    font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    border : none;
    width:214px;
    cursor:pointer;
}

#firstButton{
    margin-top: 23px;
    line-height: 35px;
    margin-left: -8px;
    background-color: rgba(215, 215, 215, 1);
    
}

#secondButton{
    margin-top:30px;
    line-height: 35px;
    margin-left: -8px;
    background-color: rgba(215, 215, 215, 1);
}

#connaitre,#comparer{
    font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';
    font-weight: bold;
    
}

