/*BACKGROUND COLOR OF WEBSITE*/

body {
    margin: 0px;
    background-color: rgba(242, 242, 242, 1);
    background-image: none;
    position: relative;
    left: 0px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


/*/navigation bar */
.navbar-brand {
    font-family: 'Roboto Bold', 'Roboto Regular', 'Roboto';
    color: grey;
    font-size: 30px;
    margin: 0px;
    font-weight: 700;
    left: 60px;
    top: 23px;
    width: 120px;
    height : 47px;
}


.navbar-light .navbar-brand {
    color:#fff;
}

#search_Bar {
    border-width: 0px;
    position: absolute;
    left: 1161px;
    top: 21px;
    width: 23px;
    height: 23px;
    display: flex;
    font-size: 23px;
    color: #FFFFFF;
    text-align: left;
}

#three_Dots {
    border-width: 0px;
    position: absolute;
    left: 1219px;
    top: 21px;
    width: 23px;
    height: 23px;
    display: flex;
    font-size: 23px;
    color: #FFFFFF;
    text-align: left;
}

.navbar-text{
    display: flex;
    justify-content: space-evenly;
   
}


/*container for three boxes*/

.container-fluid {
    border-width: 0px;
    position: absolute;
    left: 92px;
    top: 99px;
    height: 700px;
    display: flex;

}
